<!DOCTYPE html>

<html>

    <div class = "header">
    <head>
       <title>Makeup App</title>
       <link rel="stylesheet" href="css/style.css"
  </head>
    <body>

        <div id= "Painting"> 
        <h1>Makeup tutorials</h1>
   <p>Wanna look fly? Here are some makeup videos to help</p>

<script

  src= "https:github.com/makeupteam/makeup-app.git">
 
</script>
</div>
  <div class = "content">
  <form method="POST" action="/results">
   <p>What would you like to learn?<input type="text" name="search" /></p> 

  <select>

   <option value="blush">Blush</option>

    <option value="eyebrow">Eyebrow</option>

    <option value="bronzer">Bronzer</option>

   <option value="eyeliner">Eye liner</option>

    <option value="eyeshadow">Eye shadow</option>

    <option value="foundation">Foundation</option>

    <option value="lipliner">Lip Liner</option>

    <option value="lipstick">Lipstick</option>

     <option value="mascara">Mascara</option>

    <option value="nailpolish">Nail Polish</option>

    </select>

   <h1>Choose Your Makeup Skill Level</h1>
  <label class="container">Am a Pro!

          <input type="radio" checked="checked" name="radio">

          <span class="checkmark"></span>



        </label>

        <img src = "https://i.pinimg.com/736x/e7/c8/a7/e7c8a7ef0c048c85671764b4e3e78f7e--full-face-glam-makeup-full-face-makeup-ideas-prom.jpg?_sm_byp=iVVQKP7JT4KnSt7q"/>

        <img src= "https://i.pinimg.com/736x/f2/0f/de/f20fde3be206251d972efd6701192448--valentines-day-pictures-sexy-valentines.jpg?_sm_byp=iVVQKP7JT4KnSt7q"/>

        <label class="container">Mas o menos!

          <input type="radio" name="radio">

          <span class="checkmark"></span>

          

        </label>

        <img src = "http://i.dailymail.co.uk/i/pix/2017/07/26/04/42B03AA200000578-0-image-a-9_1501039982059.jpg?_sm_byp=iVVQKP7JT4KnSt7q"/>

        <img src = "https://cdn.playbuzz.com/cdn/c0d2e9f8-b1b3-4c67-8939-99755e800edb/087a4c64-bc26-434d-a9de-f16378bac694.jpg?_sm_byp=iVVQKP7JT4KnSt7q"/>

        <label class="container">Valgo Verga!

          <input type="radio" name="radio">

          <span class="checkmark"></span>

        </label>

        <img src = "https://orig00.deviantart.net/d033/f/2013/013/1/5/basic_makeup_test_for_ariel_costume_by_witchybaybay-d5rg4to.jpg"/>

        <img src = "https://www.the-star.co.ke/sites/default/files/styles/new_full_content/public/articles/2016/02/06/1289981.jpg?itok=hdkMJtKh"/>

        

        <label class="container">I suck big time!

          <input type="radio" name="radio">

          <span class="checkmark"></span>

        </label>

        <img src = "https://i.ytimg.com/vi/6KZyh2jCpjY/maxresdefault.jpg"/>

        <img src = "http://res.cloudinary.com/nextermedia/image/fetch/w_728/http://gabworthy.com/wp-content/uploads/2015/04/bad-makeup-chola-eyebrows.jpeg"/>

        

        <button type="submit">Submit</button>

    

        </form>

    </div>

<script> 

var myVideo = document.getElementById("video2"); 



function playPause() { 

    if (myVideo.paused) 

        myVideo.play(); 

    else 

        myVideo.pause(); 

} 



function makeBig() { 

    myVideo.width = 560; 

} 



function makeSmall() { 

    myVideo.width = 320; 

} 



function makeNormal() { 

    myVideo.width = 420; 

} 

</script> 



<p>Video courtesy of <a href="https://youtu.be/S3hN9tZBMaI" target="_blank">Get La Tiny Chola eyebrows Makeup Tutorial</a>.</p>



<script> 

var myVideo = document.getElementById("video2"); 



function playPause() { 

    if (myVideo.paused) 

        myVideo.play(); 

    else 

        myVideo.pause(); 

} 



function makeBig() { 

    myVideo.width = 560; 

} 



function makeSmall() { 

    myVideo.width = 320; 

} 



function makeNormal() { 

    myVideo.width = 420; 

} 

</script> 



<div>

    <iframe 

      width="560" 

      height="315" 

      src="https://www.youtube.com/embed/S3hN9tZBMaI" 

      frameborder="0" 

      gesture="media" 

      allow="encrypted-media" 

      allowfullscreen

    ></iframe>

</div>

<p>Video courtesy of <a href="https://youtu.be/44BChdZ7SLI/" target="_blank">Get a Kim Kardashian Makeup Tutorial</a>.</p>





<script> 

var myVideo = document.getElementById("video3"); 



function playPause() { 

    if (myVideo.paused) 

        myVideo.play(); 

    else 

        myVideo.pause(); 

} 



function makeBig() { 

    myVideo.width = 560; 

} 



function makeSmall() { 

    myVideo.width = 320; 

} 



function makeNormal() { 

    myVideo.width = 420; 

} 

</script> 



<p>Video courtesy of <a href="https://youtu.be/JsgkINRgR84/" target="_blank">Get a Winter Good look Makeup Tutorial</a>.</p>



<script> 

var myVideo = document.getElementById("video3"); 



function playPause() { 

    if (myVideo.paused) 

        myVideo.play(); 

    else 

        myVideo.pause(); 

} 



function makeBig() { 

    myVideo.width = 560; 

} 



function makeSmall() { 

    myVideo.width = 320; 

} 



function makeNormal() { 

    myVideo.width = 420; 

} 

</script> 



<script> 

var myVideo = document.getElementById("video4"); 



function playPause() { 

    if (myVideo.paused) 

        myVideo.play(); 

    else 

        myVideo.pause(); 

}

function makeBig() { 
 myVideo.width = 560; 
} 

function makeSmall() { 
 myVideo.width = 320; 
} 

function makeNormal() { 
 myVideo.width = 420; 
} 

</script> 



<p>Video courtesy of <a href="https://youtu.be/9WOL0HmqgqU/" target="_blank">Bold & Sleeck Makeup Tutorial</a>.</p>

</body>

</html>
